#alert-success{
    display:none;
    position:absolute;
    top:25%;
    left:20%;
    background-color: rgb(15, 178, 15);
    color:white;
     width:60%;
    height:auto;
}
#alert-success>div>img{
    width:60%;
}
#alert{
    color:red;
}
#ok{
    width:30%;
    height:5%;
    background-color: white;
    border:none;
    font-size: 15px;
}
#retry{
    width:35%;
    height:5%;
    background-color: white;
    border:none;
    font-size: 15px;
}

#alert-failure{
    display:none;
    position:fixed;
    top:25%;
    left:20%;
    background-color: rgb(237, 18, 18);
    color:white;
    width:60%;
    height:auto;
   
}
#processing{
    display:none;
    position:fixed;
    top:25%;
    left:30%;
    color:white;
    width:60%;
    height:60%;
}
#payment{
    padding:2%;
    background-color: white;
    width:20%;
    height:350px;
    margin:auto;
    margin-top:15%;
    border-radius:10px;
    text-align: center;
}
#payment>img{
    width:25%;
    display:block;
    margin:auto;
    margin-bottom:30%
}
#pay{
    width:20%;
    height:40px;
    font-size:20px;
    color:white;
    background-color:rgb(100, 24, 172);
    border-radius: 5px;
    border:none;
}
#amount{
    height:35px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    background-color: rgb(236, 236, 236);
}

#nav>img{
    width:15%;  
    margin:-25px;
    margin-left:0px;
}

#nav{
    background-color: white;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    margin:0;
}
body{
    background-color:rgb(100, 24, 172)
}