h1{
    text-align: cetner;
    color:aliceblue;
}
#stopwatch{
    width:30%;
    margin:auto;
    background-color: rgb(39, 39, 39);
    border:1px solid aliceblue;
    border-radius: 10px;
    text-align: center;
    margin-top:2%;
    
    
}
body{
    background-color: rgb(51, 51, 51);
}


#number{
    display:flex;
    height:50px;
    margin:auto;
    align-items: center;
    font-size:25px;
    padding:5%;
    border-top:1px solid white;
    color:white; 
}
#button{
    display:flex;
    margin:auto;
    height:60px;
    align-items: center;
    border-top:1px solid aliceblue;

}
button{
    height:54%;
    margin:2%;
    width: 25%;
    color:white;   
    border:none;
    
}
#stop{
    background-color: rgb(218, 54, 54);
}
#reset{
    background-color: rgb(19, 18, 18);
}
#start{
    background-color:rgb(135, 178, 221);
    color:black;
}
#start:hover{
    background-color: rgb(53, 137, 221);
}
#stop:hover{
    background-color: rgb(218, 32, 32);
}
button:hover{
    cursor: pointer;
}
@media all and (min-width:240px) and (max-width:720px){
    #stopwatch{
        width:80%;
        font-size: 70%;
    }
    button{
        height:25px
    }
}